<% include ../partials/meta.ejs %>
<title>Recipes</title>
<% include ../partials/header.ejs %>

<div class="row ">
  <div class="col-md-9">

    <h1>My Recipes</h1>
    
    <!-- BEGIN Accordion-->
    <div class="accordion" id="recipeList">   
    <% recipes.forEach( recipe => { %>
      <div class="card">

        <div class="card-header" id="heading<%= recipe.recipe_id %>">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#recipe<%= recipe.recipe_id %>" >
              <%= recipe.title %>
            </button>
          </h5>
        </div>

        <div id="recipe<%= recipe.recipe_id %>" class="collapse" data-parent="#recipeList">
          <div class="card-body">
            <strong>Ingredients:</strong> <%= recipe.ingredients %>
            <hr>
            <strong>Directions:</strong> <%= recipe.directions %>
            <hr>  
            <button class="btn btn-default edit-recipe" value="edit">Edit </button>
            <button class="btn btn-danger delete-recipe" data-id="<%= recipe.recipe_id %>" value="delete">Delete</button>
          </div>
          
        </div>

      </div>

    <% }) %>
      

    </div>
    <!-- END Accordion-->


  </div>
</div>



<% include ../partials/footer.ejs %>